
body{
   
    font-family:'Josefin Sans', sans-serif;
    /* Font-style: Regular; */
}
.line{
margin-left: 50px;    
width: 94%;
height: 1px;
color: #DE8678;
background-color: #DE8678;
}
input{
        margin-left: 30%;
        width: 504px;
        height: 50px;
        border-color:#DE8678;
        border-radius: 12px;
}
#adrinut{
    margin-left: 300px;
    width: 304px;
     height: 50px;
}
::placeholder{
color:#9B9B9B;

}
p{
    
}
button{
    margin-top: 50px;
    margin-left: 45%;
    background-color: #CFD3DF;
    Width:200px;
Height:53px;
}