/* #CFCEDC */
body {
  margin: 0;
  font-size: 28px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  height: 55px;
  background-color: rgba(255, 167, 167, 0.562);
  position: fixed;
  transition: 1s;
}
#navbar a:after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}
#navbar a:hover:after {
  transform: scaleX(1);
}

#navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 49px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  color: black;
}

/* #navbar a.active {
    background-color: #04AA6D;
    color: white;
  } */
.logo {
  margin-top: -15px;
}
.logo:hover {
  color: #cfcedc;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar {
  width: 14px;
}
body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #501e27;
}
@media (max-width: 720px) {
  body {
    background-size: 100% 100%;
  }
  .navbar-collapse {
    background: #501e27;
  }
  .para {
    min-height: 800px;
  }
}
